<div class="row">
  <div class="col sign-in">
    <h2>Sign In</h2>
    <form #f="ngForm" [formGroup]="signInForm" (ngSubmit)="onSignIn(f)">
      <div>
        <label for="email">Email:</label><br />
        <input type="text" id="email" formControlName="email" />
      </div>
      <div>
        <label for="password">Password:</label><br />
        <input type="text" id="password" formControlName="password" />
      </div>
      <button type="submit" class="btn btn-primary">Sign In</button><br />
      <a routerLink="/forgot-password" class="forgot-pass">Forgot Password?</a>
    </form>
  </div>
  <div class="col register">
    <h4>New Customer?</h4>
    <span>Create an account with us and you'll be able to:</span>
    <ul>
      <li>Check out faster</li>
      <li>Access your order history</li>
      <li>Track new orders</li>
      <li>Get best deals</li>
    </ul>
    <button routerLink="/create-account" type="button" class="btn btn-primary">Create Account</button>
  </div>
</div>
