/Angular/Bin
/API/bin
/API/obj
/DataBase/bin
/DataBase/obj
/packages
/.vs
/Angular/.vs
/Angular/.angular/cache/17.2.1
/node_modules
/WebApiCore/bin/Debug/net6.0
/WebApiCore/obj
/.gitignore
/.gitignore
/.gitignore
