
<div class="container">
    <div class="row">
        <div class="col legend">
            <a [routerLink]="['/home']">Home</a>
            &nbsp;/&nbsp;
            <a [routerLink]="['/books', {categoryName: book.CategoryName}]">{{book.CategoryName}}</a>
        </div>
    </div>
    <div class="row">
        <div class="col image-wrap">
            <img src="{{siteName}}/{{book.Image}}" class="book-image" />
        </div>
        <div class="col text-wrap">
            <span class="title-text">{{book.Title}}</span>
            <a [routerLink]="['/books', {author: book.AuthorLastName}]"><span class="author-text">{{book.AuthorLastName}}, {{book.AuthorFirstName}}</span></a>
            <span class="price-text" [ngClass]="{'discount': book.Discount}">{{book.Price | currency:"EUR"}}</span>
            <span class="price-text" *ngIf="book.Discount">{{book.Discount | currency:"EUR"}}</span>
            <div class="counter">
                <counter [counter]="count" (change)="changeCount($event)"></counter>
            </div>
            <button type="button" (click)="addToBasket(book.BookId, count)" class="btn btn-dark">Add to Basket</button>
        </div>
    </div>

    <span class="subtitle">Summary</span>
    <p class="summary-text">{{book.Summary}}</p>

    <span class="subtitle">Product Details</span>
    <div class="row details">
        <div class="col no-padding">
            <span>Publication date</span>
            <span>ISBN</span>
        </div>
        <div class="col small-text">
            <span>{{book.Year}}</span>
            <span>{{book.ISBN}}</span>
        </div>
    </div>
</div>
