
<p-carousel [value]="books" [numVisible]="3" [numScroll]="3" [circular]="true" [responsiveOptions]="responsiveOptions">
    <ng-template let-book pTemplate="item">
        <div class="book-wrapper">
            <a [routerLink]="['/books', book.BookId]"><img src="{{siteName}}/{{book.Image}}" class="book-img" /></a>
            <div>
                <a [routerLink]="['/books', book.BookId]"><span class="title-text">{{book.Title}}</span></a>
                <span class="author-text">{{book.AuthorLastName}}, {{book.AuthorFirstName}}</span>
                <div class="row price">
                    <span class="col price-text" [ngClass]="{'discount': book.Discount}">{{book.Price | currency:"EUR"}}</span>
                    <span class="col price-text" *ngIf="book.Discount">{{book.Discount | currency:"EUR"}}</span>
                </div>
                <button type="button" (click)="addToBasket(book.BookId, 1)" class="btn btn-sm btn-dark">Add to Basket</button>
            </div>
        </div>
    </ng-template>
</p-carousel>
