
<div>
  <h2>Basket</h2>
  <div class="basket-item" *ngFor="let book of books">
    <div class="row">
      <div class="col-2">
        <button type="button" class="btn btn-sm"><i class="fa fa-trash"></i></button>
      </div>
      <div class="col-2">
        <a [routerLink]="['/books', book.BookId]"><img src="http://localhost:50000/{{book.Image}}" class="book-img" /></a>
      </div>
      <div class="col-6">
        <a [routerLink]="['/books', book.BookId]"><span class="book-title">{{book.Title}}</span></a>
        <span class="book-author">{{book.AuthorLastName}}, {{book.AuthorFirstName}}</span>
      </div>
      <div class="col-2">
        <span *ngIf="book.Discount" class="book-price">{{book.Discount | currency:'EUR'}}</span><br />
        <span class="book-price" [ngClass]="{'discount': book.Discount}">{{book.Price | currency:'EUR'}}</span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col"></div>
  <div class="col"></div>
  <div class="col totals">
    <span class="totals-title">Subtotal</span>
    <span class="totals-price">{{totalPrice | currency:'EUR'}}</span>
    <button type="button" class="btn btn-primary">Proceed to checkout</button>
  </div>
</div>
