
<div class="sidebar-body">
  <span>Shop by Category</span>
  <br /><br />
  <div *ngFor="let category of categoryUI" class="categories">
    <a (click)="closeHamburger()"
       [routerLink]="['/books', {categoryName: category.CategoryName}]">
      {{category.CategoryName}}
    </a>
    <i class="fa fa-chevron-down" (click)="dropdown(category)"></i>

    <div *ngIf="selectedCategory.CategoryName == category.CategoryName">
      <div *ngFor="let author of category.Authors" class="authors">
        <a (click)="closeHamburger()"
           [routerLink]="['/books', {categoryName: category.CategoryName, author: getLastName(author)}]">
          {{author}}
        </a>
      </div>
    </div>
  </div>
</div>
