.header-div {
  .main-logo {
    width: 250px;
  }

  .search-div {
    width: 100%;
    max-width: 480px;
    margin: 0 0 auto auto;
    

    input {
      width: 400px;
      color: #777;
    }

    button {
      background-color: #5f1d2b !important;
      border: none;
    }
  }
}

nav {
  box-shadow: 0 0 8px 0px #b6b6b6;
  background-color: #f8f9fa !important;

  a {
    margin-right: 50px;
    border-bottom: solid 2px #f8f9fa;
    font-size: 18px;
    font-weight: 400;

    &:hover {
      border-bottom: solid 2px #000;
    }
  }
}
