
<div class="header-div">
  <a routerLink="home">
    <img class="main-logo" src="http://localhost:50000/images/logo-purple.png" />
  </a>
  <div class="search-div">
    <input placeholder=" Search by title or author..." #inputSearch (keyup)="autocomplete(inputSearch)" type="text" />
    <button type="button" class="btn-sm btn-secondary"><i class="fa fa-search"></i>&nbsp;&nbsp;Search</button>
  </div>
</div>
<br />
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink="home" class="navbar-brand"><i class="fa fa-home"></i>&nbsp;&nbsp;Home</a>
  <a routerLink="books" class="navbar-brand"><i class="fa fa-book"></i>&nbsp;&nbsp;Books</a>
  <a routerLink="account" class="navbar-brand"><i class="fa fa-user"></i>&nbsp;&nbsp;My Account</a>
  <a routerLink="basket" class="navbar-brand"><i class="fa fa-shopping-basket"></i>&nbsp;&nbsp;Basket</a>
</nav>

