
<div class="top-menu">
  <div class="top-menu-text">
    <a href="" class="phone-num"><i class="fa fa-phone"></i>&nbsp;&nbsp;+383 36578354</a>
    <a routerLink="/account" class="login">LogIn / SignUp</a>
  </div>
</div>

<div class="screen-body">
  <div class="row">
    <div class="col">
      <menu></menu>
    </div>
  </div>
  <div class="row">
    <div class="col-3 col-content">
      <div class="body-content margin-right-20">
        <sidebar></sidebar>
      </div>
    </div>
    <div class="col-9 col-content">
      <div class="body-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<notifier-container></notifier-container>

<footer>
  <div class="footer-body">
    <a href=""><i class="fab fa-facebook"></i></a>
    <a href=""><i class="fab fa-youtube"></i></a>
    <a href=""><i class="fab fa-twitter"></i></a>
    <p>&copy; 2020 Klara Lukin. All Rights Reserved.</p>
  </div>
</footer>

